{% extends "base.html.twig" %}

{% block body %}
   <div class="w-full flex items-center justify-between mt-0 px-6 py-2">
      <div class="hidden md:flex md:items-center md:w-auto w-full order-3 md:order-1">
         <nav>
            <ul class="md:flex items-center justify-between text-base text-blue-600 pt-4 md:pt-0">
               <li><a class="inline-block no-underline hover:text-black font-medium text-lg py-2 px-4 lg:-ml-2" href="{{ path('home_index') }}">Home</a></li>
               <li><a class="inline-block no-underline hover:text-black font-medium text-lg py-2 px-4 lg:-ml-2" href="{{ path('post_index') }}">Posts</a></li>
               {# <li><a class="inline-block no-underline hover:text-black font-medium text-lg py-2 px-4 lg:-ml-2" href="{{ path('about_index') }}">About</a></li> #}
            </ul>
         </nav>
      </div>
      <div class="order-2 md:order-3 flex flex-wrap items-center justify-end mr-0 md:mr-4">
      </div>
   </div>

   <h1 class="mt-3 text-[3.5rem] font-bold leading-[4rem] tracking-tight text-black">Home</h1>
{% endblock %}