{% extends 'base.html.twig' %}

{% block title %}New Post{% endblock %}

{% block body %}
    <h1 class="m-5 text-[3.5rem] font-bold leading-[4rem] tracking-tight text-black">Create a new Post</h1>
{% endblock %}